.story_title {
  text-align: center;
  font-size: 26px;
  font-weight: 600;
  color: rgba(0, 0, 0, 1);
  line-height: 30px;
}

@media only screen and (max-width: 767px) {
  .story_title {
    font-size: 20px;
  }
}


@media only screen and (max-width: 330px) {
  html body #app .wechat {
    height: 568px !important;
  }
}
@media only screen and (min-width: 330px) and (max-width: 380px) {
  html body #app .wechat {
    height: 667px !important;
  }
}
@media only screen and (min-width: 380px) and (max-width: 450px) {
  html body #app .wechat {
    height: 812px !important;
  }
}
@media only screen and (min-height: 811px) and (max-height: 950px) {
  html body #app .wechat {
    height: 812px !important;
  }
}

@media only screen and (min-height: 750px) and (max-height: 808px) {
  html body #app .wechat {
    height: 808px !important;
  }
}
@media only screen and (min-height: 951px) and (max-height: 1280px) {
  html body #app .wechat {
    height: 1024px !important;
  }
}
@media only screen and (min-height: 1281px) {
  html body #app .wechat {
    height: 1366px !important;
  }
}



@media only screen and (min-width: 960px) {
  .container{
    width: 960px;
    margin: auto;
  }
}
